version: '3.8'

services:
  web:
    build: .
    ports:
      - "8001:8000"
    volumes:
      - .:/app
    environment:
      - DEBUG=1
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    depends_on:
      minio:
        condition: service_healthy
      redis:
        condition: service_healthy
  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 30s
      timeout: 20s
      retries: 3
      start_period: 10s

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  celery-ml:
    build: .
    command: celery -A config worker -l info -Q ml -c 1
    volumes:
      - .:/app
    environment:
      - DEBUG=1
    depends_on:
      redis:
        condition: service_healthy
      web:
        condition: service_started
        
#  celery:
#    build: .
#    command: celery -A config worker -l info -c
#    volumes:
#      - .:/app
#    environment:
#      - DEBUG=1
#    depends_on:
#      redis:
#        condition: service_healthy
#      web:
#        condition: service_started

volumes:
  minio-data:
  redis-data:
